* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

h1 {
	font-size: 10vh;
	color: white;
	width: 100%;
	text-align: center;
}

.actions {
	height: 80vh;
	overflow-y: scroll;
	scroll-behavior: smooth;
	scrollbar-width: thin;
	width: 40vw;
	mask-image: linear-gradient(rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 1) 20%);
	padding-top: 80vh;
}

.action {
	display: none;
}

.action img {
	max-height: 50px;
}

.soin {
	background: rgb(178, 218, 178);
}

.attaque {
	background: rgb(238, 191, 191);
}

.resultat {
	background: rgb(167, 167, 167);
}

.equipement {
	background: rgb(231, 231, 231);
}

.fin {
	font-size: 3em;
	font-weight: bold;
	background: white;
}

body {
	display: flex;
	flex-wrap: wrap;
	min-height: 100vh;
	justify-content: space-between;
	align-items: center;
	background-color: black;
}

figure {
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	width: 25vw;
	height: 80vh;
	padding: 2vw;
}

#portrait1 {
	align-items: flex-start;
}

#portrait2 {
	align-items: flex-end;
}

figure img {
	max-width: 20vw;
}

#portrait1 img {
	transform: rotateY(180deg);
}

figcaption {
	color: white;
	font-size: 4em;
}

select {
	background: black;
	color: white;
	border: none;
	font-size: 5vh;
}

option {
	font-size: 2vh;
}
